@media screen and (max-width: 1440px) {

    .container {
        width: 1200px;
    }

    // .header-title {
    //     margin-left: 70px;
    // }

    // .promo-content-inner {
    //     margin-top: 75px;
    //     padding: 25px;
    //     background: rgba(0, 0, 0, 0.4);
    // }
    //
    // .promo-title {
    //     margin-top: 0;
    // }

    .winner-selection-arrow {
        margin: 0 50px;
    }
}

@media screen and (max-width: 1220px) {

    .container {
        width: 1000px !important;
    }

    // .header-title {
    //     margin-left: 25px;
    // }

    // .header-menu {
    //     margin-left: 20px;
    //
    //     ul {
    //
    //         li {
    //             margin-right: 5px;
    //         }
    //     }
    // }

    .promo-car {
        right: -255px;
    }

    .winner-selection-arrow {
        margin: 0 30px;
    }

    .takepart {

        .button {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}

@media screen and (max-width: 1020px) {

    .container {
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    br {
        display: none;
    }

    .animate {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        transform: none !important;
    }

    .button {
        display: block;
        width: 100%;
    }

    header {
        position: static;
        height: 288px;
        padding: 25px 0;
        text-align: center;
    }

    .header-logo,
    .header-title,
    .header-menu,
    .header-phone {
        display: block;
        float: none;
        margin-left: 0;
        margin-top: 0;
    }

    .header-logo {

        img {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    // .header-title {
    //     display: none;
    // }

    .header-menu {
        margin: 20px 0;
        transform: none;

        ul {

            li {
                display: block;
                margin-right: 0;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .header-phone {
        text-align: center;
    }

    .promo {
        padding: 0 0 50px;
    }

    .promo-content-inner,
    .promo-desc,
    .promo-subtitle,
    .promo-title {
        width: 100%;
    }

    .promo-car {
        display: none;
    }

    .promo-content {
        //padding-top: 288px;
        text-align: center;
    }

    .promo-content-inner {
        margin-top: 0;
        padding: 50px 0 0;
        background: none;
    }

    .promo-title {
        margin-top: 0;
        font-size: 40px;
        line-height: normal;
    }

    .promo-subtitle {
        font-size: 35px;
    }

    .rules {
        padding: 50px 0;
    }

    .rules-icon,
    .register-icon {
        margin-bottom: 25px;
    }

    .register {
        padding: 0 0 50px;
    }

    .register-center {
        width: 100%;
        text-align: center;

        .register-desc {
            display: block;
            width: 100%;
            margin-right: 0;
            padding: 0;
        }

        img {
            display: none;
        }
    }

    .half-col {
        display: block;
        width: 100%;
        margin-right: 0;
        padding: 0;
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    .friends {

        hr {
            margin-bottom: 50px;
        }
    }

    .finish {
        padding-bottom: 50px;
    }

    .finish-img {
        margin-bottom: 25px;
    }

    .winner {
        padding: 50px 0;
        background: url('../img/bg-promo.jpg') no-repeat center top;
        background-size: cover;
    }

    .winner-selection-steps {
        margin-top: 25px;
    }

    .winner-selection-step {
        margin-bottom: 25px;
        opacity: 1 !important;

        figcaption {
            margin-top: -20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .winner-selection-arrow {
        display: none;
    }

    .takepart {
        padding: 50px 0;
    }

    .sale {
        padding: 50px 0;
    }

    .sale-info {
        font-size: 25px;

        span {
            display: block;
            padding-right: 0;
        }
    }
//
//     .modal,
//     .modal-inner,
//     .mfp-close {
//         transform: none;
//     }
//
//     .modal {
//         padding-left: 15px;
//         padding-right: 15px;
//
//         .block-title {
//             margin-bottom: 25px;
//         }
//     }
//
//     form {
//
//         input[type=text],
//         input[type=email] {
//             margin-bottom: 15px;
//             padding: 20px 10px;
//             border-radius: 30px;
//         }
//
//         input[type=submit].button {
//             font-size: 20px;
//         }
//     }
}
