@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular.eot");
    src: url("../fonts/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight.eot");
    src: url("../fonts/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoSemibold";
    src: url("../fonts/LatoSemibold.eot");
    src: url("../fonts/LatoSemibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoSemibold.woff") format("woff"),
    url("../fonts/LatoSemibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@semibold: 'LatoSemibold', 'Open Sans Semibold', 'Open Sans', sans-serif;
@regular: 'LatoRegular', 'Open Sans', sans-serif;
@light: 'LatoLight', 'Open Sans Light', 'Open Sans', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

a {
    outline: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, dl, dd {
  margin: 0;
}

strong, b {
    font-family: @regular;
    font-weight: 400;
}

p {
    margin: 0;
    font-size: 18px;
}

small {
    font-size: 12px;
}

input,
textarea,
select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: @light;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
