// #button
.button {
    display: inline-block;
    padding: 20px 60px 16px;
    font-family: @semibold;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #2d5bb1;
    border-radius: 30px;

    &:hover {
        background: lighten(#2d5bb1, 5%);
    }
    &:active {
        background: darken(#2d5bb1, 5%);
    }
}

// #header
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    padding: 45px 0 32px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

// .header-title {
//     margin-top: 3px;
//     // margin-left: 140px;
//     margin-left: 45px;
//     font-family: @regular;
//     font-weight: 400;
//     font-size: 25px;
// }

.header-menu {
    //transform: translateY(-28%);
    margin-top: 8px;
    margin-left: 45px;
    font-size: 18px;

    li {
        //margin-bottom: 10px;
        margin-right: 20px;
        display: inline-block;
        vertical-align: top;

        &:last-child {
            //margin-bottom: 0;
            margin-right: 0;
        }
    }

    a {
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: #fff;
        }
    }
}

.header-phone {
    margin-top: -5px;
    text-align: right;

    span {
        display: block;
        font-family: @regular;
        font-size: 14px;
    }

    a {
        font-family: @semibold;
        font-size: 25px;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: #fff;
        }
    }
}

// #promo
.promo {
    position: relative;
    padding: 150px 0;
    background: url('../img/bg-promo.jpg') no-repeat top left;
    background-size: cover;

    &, a {
        color: #fff;
    }
}

.promo-car {
    position: absolute;
    width: 870px;
    top: 50px;
    right: 0;
    //
    transform: scale(0);
    transition: all 0.8s ease;

    &.visible {
        transform: scale(1);
    }
}

.promo-content-inner {
    width: 565px;
    position: relative;
    z-index: 1;
}

.promo-title,
.promo-subtitle,
.promo-desc {
    width: 515px;
    z-index: 2;
}

.promo-content-inner {
    //
    position: relative;
    top: -500px;
    opacity: 0;
    transition: all 0.7s ease;
}

.promo-content.visible {

    .promo-content-inner {
        top: 0;
        opacity: 1;
    }
}

.promo-title {
    margin-top: 75px;
    font-family: @light;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
}

.promo-subtitle {
    font-family: @regular;
    font-weight: 400;
    font-size: 35px;
}

.promo-desc {

    p {
        margin: 20px 0 10px;
        font-size: 18px;
        //line-height: 35px;
    }

    // small {
    //     display: block;
    //     font-size: 12px;
    // }

    .button {
        margin-top: 45px;
        box-shadow: 0px 0px 16.59px 4.41px rgba(45, 91, 177, 0.5);
    }
}

.block-title {
    margin-bottom: 20px;
    font-family: @light;
    font-weight: 300;
    font-size: 30px;
}

// #rules
.rules {
    padding: 90px 0;
    text-align: center;
}

// .rules-icon {
//     margin-bottom: 60px;
// }

.rules-desc {
    max-width: 1200px;
    margin: 0 auto;

    span {
        border-bottom: 1px dashed #000;
    }
}

// #register
.register {
    // padding: 0 0 70px;
}

.register-center {
    width: 730px;
    margin: 0 auto;

    img,
    .register-desc {
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
    }

    img {
        width: 219px;
        //
        position: relative;
        left: -300px;
        opacity: 0;
        transition: all 0.7s ease;

        &.visible {
            left: 0;
            opacity: 1;
        }
    }
}

.register-desc {
    width: 510px;
    padding-top: 110px;
    padding-left: 60px;

    .button {
        margin-top: 40px;
    }
}

hr {
    max-width: 1040px;
    height: 1px;
    margin: 0 auto;
    background: #e1e1e1;
    border: none;
}

.half-col {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

// #friends
.friends,
.finish {

    .container {
        width: 1040px;
        padding: 0 20px;
    }
}

.friends-desc {

    p {
        max-width: 460px;
    }
}

.friends-img {
    padding-left: 35px;

    img {
        //
        position: relative;
        right: -300px;
        opacity: 0;
        transition: all 0.7s ease;

        &.visible {
            right: 0;
            opacity: 1;
        }
    }
}

// #finish
.finish {
    padding: 0 0 40px;

    img {
        //
        position: relative;
        left: -300px;
        opacity: 0;
        transition: all 0.7s ease;

        &.visible {
            left: 0;
            opacity: 1;
        }
    }
}

// #winner
.winner {
    padding: 85px 0 55px;
    text-align: center;
    color: #fff;
    background: url('../img/bg-winner.jpg') no-repeat top left;
    background-size: cover;

    hr {
        max-width: 360px;
        background: #fff;
    }
}

.winner-icon {
    margin-bottom: 45px;
}

.winner-selection-steps {
    margin-top: 50px;
}

.winner-selection-step,
.winner-selection-arrow {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
    //
    opacity: 0;
    transition: all 0.5s linear;
}

.winner-selection-arrow {
    width: 20px;
    height: 38px;
    margin: 0 120px;
    background: url('../img/icon-arrow-white.png') no-repeat center center;
}

.winner-selection-step {
    width: 260px;
}

// #takepart
.takepart {
    padding: 90px 0;
    background: url('../img/bg-takepart.jpg') no-repeat top left;
    background-size: cover;
    text-align: center;

    .button {
        border-radius: 36px;

        animation-name: pulse;
    	animation-duration: 5000ms;
    	transform-origin:70% 70%;
    	animation-iteration-count: infinite;
    	animation-timing-function: ease;
    }
}

@keyframes pulse {
	0% { transform: scale(1); }
	25% { transform: scale(1.05); }
	50% { transform: scale(1); }
	100% { transform: scale(1); }
}

@-moz-keyframes pulse {
    0% { transform: scale(1); }
	25% { transform: scale(1.05); }
	50% { transform: scale(1); }
	100% { transform: scale(1); }
}

@-o-keyframes pulse {
    0% { transform: scale(1); }
	25% { transform: scale(1.05); }
	50% { transform: scale(1); }
	100% { transform: scale(1); }
}

@-webkit-keyframes pulse {
    0% { transform: scale(1); }
	25% { transform: scale(1.05); }
	50% { transform: scale(1); }
	100% { transform: scale(1); }
}

@-ms-keyframes pulse {
    0% { transform: scale(1); }
	25% { transform: scale(1.05); }
	50% { transform: scale(1); }
	100% { transform: scale(1); }
}

// #sale
.sale {
    padding: 25px 0;
    text-align: center;
    background: url('../img/bg-sale.jpg') no-repeat top left;
    background-size: cover;

    &, a {
        color: #fff;
    }
}

.sale-info {
    font-family: @semibold;
    font-size: 20px;

    a {
        text-decoration: none;
        border-bottom: 1px solid #fff;

        &:hover {
            border-color: transparent;
        }
    }

    span {
        padding-right: 20px;
        font-size: 60px;
        color: #ffb119;
        vertical-align: middle;
    }
}

.item-tooltip {
    padding: 10px 20px !important;
    color: #000 !important;
    background: #fff !important;
    border: none !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0 !important;

    div {
        font-family: @regular !important;
        font-size: 16px !important;
        line-height: 25px !important;
    }
}
