// .modal {
//     position: relative;
//     max-width: 750px;
//     margin: 0 auto;
//     padding: 50px 40px;
//     text-align: center;
//     background: #fff;
//     transform: skewX(-10deg);
//
//     .block-title {
//         margin-bottom: 50px;
//     }
// }
//
// .modal-inner,
// .mfp-close {
//     transform: skewX(10deg);
// }
//
// form {
//     max-width: 500px;
//     margin: 0 auto;
//
//     input[type=text],
//     input[type=email] {
//         display: block;
//         width: 100%;
//         margin: 0 auto 25px;
//         padding: 24px 20px;
//         font-size: 20px;
//         border: 1px solid #000;
//         border-radius: 26px;
//
//         &:focus {
//             border-color: #2d5bb1;
//         }
//     }
//
//     input[type=submit] {
//         display: block;
//         width: 100%;
//         padding-left: 0;
//         padding-right: 0;
//         border: none;
//         border-radius: 36px;
//     }
// }
//
// #thanks {
//     width: 780px;
//     padding: 80px 130px;
//     text-align: center;
//
//     .section-title {
//         margin: 0;
//         font-size: 30px;
//     }
// }
//
// .thanks-title {
//     margin: 0 0 25px;
//     font-size: 40px;
//     color: #3265c5;
// }
//
// .mfp-content {
//     transform: scale(0);
//     transition: all 0.25s linear;
// }
//
// .mfp-ready .mfp-content {
//     transform: scale(1);
// }
