@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular.eot");
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight.eot");
  src: url("../fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight.woff") format("woff"), url("../fonts/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoSemibold";
  src: url("../fonts/LatoSemibold.eot");
  src: url("../fonts/LatoSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoSemibold.woff") format("woff"), url("../fonts/LatoSemibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
a {
  outline: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-weight: 400;
}
p {
  margin: 0;
  font-size: 18px;
}
small {
  font-size: 12px;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'LatoLight', 'Open Sans Light', 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button {
  display: inline-block;
  padding: 20px 60px 16px;
  font-family: 'LatoSemibold', 'Open Sans Semibold', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #2d5bb1;
  border-radius: 30px;
}
.button:hover {
  background: #3265c5;
}
.button:active {
  background: #28519d;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  padding: 45px 0 32px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.header-menu {
  margin-top: 8px;
  margin-left: 45px;
  font-size: 18px;
}
.header-menu li {
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.header-menu li:last-child {
  margin-right: 0;
}
.header-menu a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-menu a:hover {
  border-color: #fff;
}
.header-phone {
  margin-top: -5px;
  text-align: right;
}
.header-phone span {
  display: block;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 14px;
}
.header-phone a {
  font-family: 'LatoSemibold', 'Open Sans Semibold', 'Open Sans', sans-serif;
  font-size: 25px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-phone a:hover {
  border-color: #fff;
}
.promo {
  position: relative;
  padding: 150px 0;
  background: url('../img/bg-promo.jpg') no-repeat top left;
  background-size: cover;
}
.promo,
.promo a {
  color: #fff;
}
.promo-car {
  position: absolute;
  width: 870px;
  top: 50px;
  right: 0;
  transform: scale(0);
  transition: all 0.8s ease;
}
.promo-car.visible {
  transform: scale(1);
}
.promo-content-inner {
  width: 565px;
  position: relative;
  z-index: 1;
}
.promo-title,
.promo-subtitle,
.promo-desc {
  width: 515px;
  z-index: 2;
}
.promo-content-inner {
  position: relative;
  top: -500px;
  opacity: 0;
  transition: all 0.7s ease;
}
.promo-content.visible .promo-content-inner {
  top: 0;
  opacity: 1;
}
.promo-title {
  margin-top: 75px;
  font-family: 'LatoLight', 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
}
.promo-subtitle {
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 35px;
}
.promo-desc p {
  margin: 20px 0 10px;
  font-size: 18px;
}
.promo-desc .button {
  margin-top: 45px;
  box-shadow: 0px 0px 16.59px 4.41px rgba(45, 91, 177, 0.5);
}
.block-title {
  margin-bottom: 20px;
  font-family: 'LatoLight', 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.rules {
  padding: 90px 0;
  text-align: center;
}
.rules-desc {
  max-width: 1200px;
  margin: 0 auto;
}
.rules-desc span {
  border-bottom: 1px dashed #000;
}
.register-center {
  width: 730px;
  margin: 0 auto;
}
.register-center img,
.register-center .register-desc {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.register-center img {
  width: 219px;
  position: relative;
  left: -300px;
  opacity: 0;
  transition: all 0.7s ease;
}
.register-center img.visible {
  left: 0;
  opacity: 1;
}
.register-desc {
  width: 510px;
  padding-top: 110px;
  padding-left: 60px;
}
.register-desc .button {
  margin-top: 40px;
}
hr {
  max-width: 1040px;
  height: 1px;
  margin: 0 auto;
  background: #e1e1e1;
  border: none;
}
.half-col {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.friends .container,
.finish .container {
  width: 1040px;
  padding: 0 20px;
}
.friends-desc p {
  max-width: 460px;
}
.friends-img {
  padding-left: 35px;
}
.friends-img img {
  position: relative;
  right: -300px;
  opacity: 0;
  transition: all 0.7s ease;
}
.friends-img img.visible {
  right: 0;
  opacity: 1;
}
.finish {
  padding: 0 0 40px;
}
.finish img {
  position: relative;
  left: -300px;
  opacity: 0;
  transition: all 0.7s ease;
}
.finish img.visible {
  left: 0;
  opacity: 1;
}
.winner {
  padding: 85px 0 55px;
  text-align: center;
  color: #fff;
  background: url('../img/bg-winner.jpg') no-repeat top left;
  background-size: cover;
}
.winner hr {
  max-width: 360px;
  background: #fff;
}
.winner-icon {
  margin-bottom: 45px;
}
.winner-selection-steps {
  margin-top: 50px;
}
.winner-selection-step,
.winner-selection-arrow {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  opacity: 0;
  transition: all 0.5s linear;
}
.winner-selection-arrow {
  width: 20px;
  height: 38px;
  margin: 0 120px;
  background: url('../img/icon-arrow-white.png') no-repeat center center;
}
.winner-selection-step {
  width: 260px;
}
.takepart {
  padding: 90px 0;
  background: url('../img/bg-takepart.jpg') no-repeat top left;
  background-size: cover;
  text-align: center;
}
.takepart .button {
  border-radius: 36px;
  animation-name: pulse;
  animation-duration: 5000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-ms-keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.sale {
  padding: 25px 0;
  text-align: center;
  background: url('../img/bg-sale.jpg') no-repeat top left;
  background-size: cover;
}
.sale,
.sale a {
  color: #fff;
}
.sale-info {
  font-family: 'LatoSemibold', 'Open Sans Semibold', 'Open Sans', sans-serif;
  font-size: 20px;
}
.sale-info a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.sale-info a:hover {
  border-color: transparent;
}
.sale-info span {
  padding-right: 20px;
  font-size: 60px;
  color: #ffb119;
  vertical-align: middle;
}
.item-tooltip {
  padding: 10px 20px !important;
  color: #000 !important;
  background: #fff !important;
  border: none !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 0 !important;
}
.item-tooltip div {
  font-family: 'LatoRegular', 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  line-height: 25px !important;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }
  .winner-selection-arrow {
    margin: 0 50px;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    width: 1000px !important;
  }
  .promo-car {
    right: -255px;
  }
  .winner-selection-arrow {
    margin: 0 30px;
  }
  .takepart .button {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1020px) {
  .container {
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  br {
    display: none;
  }
  .animate {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    transform: none !important;
  }
  .button {
    display: block;
    width: 100%;
  }
  header {
    position: static;
    height: 288px;
    padding: 25px 0;
    text-align: center;
  }
  .header-logo,
  .header-title,
  .header-menu,
  .header-phone {
    display: block;
    float: none;
    margin-left: 0;
    margin-top: 0;
  }
  .header-logo img {
    max-width: 100%;
    margin: 0 auto;
  }
  .header-menu {
    margin: 20px 0;
    transform: none;
  }
  .header-menu ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header-menu ul li:last-child {
    margin-bottom: 0;
  }
  .header-phone {
    text-align: center;
  }
  .promo {
    padding: 0 0 50px;
  }
  .promo-content-inner,
  .promo-desc,
  .promo-subtitle,
  .promo-title {
    width: 100%;
  }
  .promo-car {
    display: none;
  }
  .promo-content {
    text-align: center;
  }
  .promo-content-inner {
    margin-top: 0;
    padding: 50px 0 0;
    background: none;
  }
  .promo-title {
    margin-top: 0;
    font-size: 40px;
    line-height: normal;
  }
  .promo-subtitle {
    font-size: 35px;
  }
  .rules {
    padding: 50px 0;
  }
  .rules-icon,
  .register-icon {
    margin-bottom: 25px;
  }
  .register {
    padding: 0 0 50px;
  }
  .register-center {
    width: 100%;
    text-align: center;
  }
  .register-center .register-desc {
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0;
  }
  .register-center img {
    display: none;
  }
  .half-col {
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0;
    text-align: center;
  }
  .half-col img {
    max-width: 100%;
  }
  .friends hr {
    margin-bottom: 50px;
  }
  .finish {
    padding-bottom: 50px;
  }
  .finish-img {
    margin-bottom: 25px;
  }
  .winner {
    padding: 50px 0;
    background: url('../img/bg-promo.jpg') no-repeat center top;
    background-size: cover;
  }
  .winner-selection-steps {
    margin-top: 25px;
  }
  .winner-selection-step {
    margin-bottom: 25px;
    opacity: 1 !important;
  }
  .winner-selection-step figcaption {
    margin-top: -20px;
  }
  .winner-selection-step:last-child {
    margin-bottom: 0;
  }
  .winner-selection-arrow {
    display: none;
  }
  .takepart {
    padding: 50px 0;
  }
  .sale {
    padding: 50px 0;
  }
  .sale-info {
    font-size: 25px;
  }
  .sale-info span {
    display: block;
    padding-right: 0;
  }
}
